/* Import font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Import font Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

 /* #004666 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    height: auto;
}
p {
    color: #000000;
    text-decoration: none;
    font-family: Roboto, san;
}
h1 {
    font-size: 2.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}
a, li {
    text-decoration: none;
    list-style: none;
}
.logo {
    width: 12%;
    height: auto;
}
.logo-img, .user-img, .cart-img, .facebook-img, .twitter-img, .linkedin-img{
    width: 100%;
    height: auto;
}

/**** Header ****/
.header {
    background-color: #004666;
}
.product-item {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* nav left */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.items ul{
    display: flex;
    gap: 20px;
}
.items ul li a{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.items ul li a:hover{
    color: #ffffff9f;
}

/* nav right */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}
.user-icon, .cart {
    width: 25%;
    height: 25%;
}
/* end nav right */

/**** end Header ****/

/**** main ****/
/* promo section */
.main {
    width: 100%;
}
.promo {
    width: 100%;
    margin-bottom: 50px;
}
.promo-inner {
    width: 100%;
    position: relative;
}
.radio {
    display: none;
}

.promo-slide {
    position: relative;
    width: 100%;
}
.promo-slide article {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}
.promo-slide article img {
    width: 100%;
    height: auto;
    display: block;
}

/* Hiển thị slide khi radio được check*/
#promo1:checked ~ .promo-slide .promo1,
#promo2:checked ~ .promo-slide .promo2,
#promo3:checked ~ .promo-slide .promo3 {
    opacity: 1;
    visibility: visible;
    position: relative;
}


/* dots */
.select-item {
    width: 100%;
    /* text-align: center; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dots {
    display: inline-block;
    padding: 6px;
    background-color: #e7e6e6;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
}

/* dots active */
#promo1:checked ~ .select-item label[for="promo1"] > .dots,
#promo2:checked ~ .select-item label[for="promo2"] > .dots,
#promo3:checked ~ .select-item label[for="promo3"] > .dots {
    background-color: #004666;;

}

/* arrow */
.promo-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    transition: 0.3s;
    display: none; /* ẨN TẤT CẢ MŨI TÊN MẶC ĐỊNH */
}

.promo-arrow:hover {
    color: #004666;
}

/* set up arrow */
.promo-arrow[class*="prev"] {
    left: 20px;
}
.promo-arrow[class*="next"] {
    right: 20px;
}

/* Slide 1 Active: Chỉ hiện mũi tên Next (chuyển sang promo2) */
#promo1:checked ~ .promo-prev-1,
#promo1:checked ~ .promo-next-1 {
    display: block;
}

/* Slide 2 Active: Hiện Prev (về 1) và Next (sang 3) */
#promo2:checked ~ .promo-prev-2,
#promo2:checked ~ .promo-next-2 {
    display: block;
}

/* Slide 3 Active: Hiện Prev (về 2) và Next (về 1) */
#promo3:checked ~ .promo-prev-3,
#promo3:checked ~ .promo-next-3 {
    display: block;
}
/* end promo section */

/* menu section */
.menu-section {
    width: 100%;
    margin-bottom: 100px;
}
.menu-section-inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.menu-section-header {
    margin-bottom: 20px;
}
hr {
    background-color: #FFFFFF;
    opacity: 0.4;
    margin-top: 10px;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.menu-item {
    width: 23.7%;
    /* border: 1px solid #e0e0e0; */
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);

}
.menu-item-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s;
}
.menu-item-img img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}
.menu-item-img:hover img{
    transform: scale(1.1);
}

.menu-item-title {
    padding: 10px 10px;
}
.menu-item-title a{
    color: #000000;
    font-family: Roboto, san;
    font-size: 1.6rem;
    font-weight: 500;
}
.menu-item-title a:hover{
    color: #004666;

}
/* end menu section */

/**** end main ****/
/**** footer ****/
footer {
    width: 100%;
    background-color: #004666;
}
.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* footer-left */
.footer-left, .footer-middle, .footer-right {
    width: 400px;
}
.footer-left {
    width: 400px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-logo {
    width: 33%;
    height: auto;
}
.hotline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.hotline-text {
    color: #FFFFFF;
}
.hotline-number {
    color: #FFC107;
    font-size: 4rem;
}
/* end footer-left */

/* footer-middle */
.footer-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.office-list p{
    color: #FFFFFF;
    font-size: 2rem;
}
.office-content, .contact-info-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.office-info, .office-name p {
    color: #afaeae;
}
/* end footer-middle */

/* footer-right */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.about-us-text p{
    color: #FFFFFF;
    font-size: 2rem;
}
.about-us-link {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about-us-link a {
    width: 10%;
}
/* end footer-right */
/**** end footer ****/
