/* Import font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Import font Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

 /* #004666 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./img-menu/background-all.jpg);
}
p {
    color: #000000;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}
h1 {
    font-size: 2.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}
h3 {
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
}
a, li {
    text-decoration: none;
    list-style: none;
}
.logo {
    width: 12%;
    height: auto;
    display: flex;
    background-color: #FFFFFF;
    z-index: 1;
    border-radius: 100px;
}

.logo-img, .user-img, .cart-img, .facebook-img, .twitter-img, .linkedin-img{
    width: 100%;
    height: auto;
}
.logo-img{
    display: flex;
    z-index: 2;
}

/**** Header ****/
.header {
    background-color: #004666;
}
.product-item {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

/* nav left */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.items ul{
    display: flex;
    gap: 20px;
}
.items ul li a{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.items ul li a:hover{
    color: #ffffff9f;
}

/* nav right */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}
.user-icon, .cart {
    width: 25%;
    height: 25%;
}
/* end nav right */

/**** end Header ****/

/**** main ****/
main {
    flex-grow: 1;
}
/* xử lý tab: */
input[type="radio"] {
    display: none;
}

/* Ẩn tất cả các nội dung tab mặc định */
.tab-content {
    display: none;
    padding-top: 20px;
}
/*tab_pizza được chọn, hiển thị nội dung Pizza */
#tab_pizza:checked ~ .tab-content-list .pizza-content {
    display: block;
}

/*tab_ga được chọn, hiển thị nội dung Gà */
#tab_ga:checked ~ .tab-content-list .ga-content {
    display: block;
}

.tab-header-list {
    display: flex;
    border-bottom: 2px solid #ccc; /* hr chung*/
}

.tab-header {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 15px;
    color: #afaeae;
    font-weight: 500;
    position: relative;
    top: 2px;
    transition: color 0.3s;
}
#tab_pizza:checked ~ .tab-header-list .tab-header[for="tab_pizza"],
#tab_ga:checked ~ .tab-header-list .tab-header[for="tab_ga"] {
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid #004666;
    z-index: 1;
}
 /* end xử lý tab: */

.menu-container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    font-family: roboto, sans-serif;
}

.content-title {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* .product-item {
    width: 280px;
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */



.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.menu-item {
    width: 23.7%;
    /* border: 1px solid #e0e0e0; */
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);

}
.menu-item-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s;
}
.menu-item-img img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}
.menu-item-img:hover img{
    transform: scale(1.1);
}

.menu-item-title {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 87px;
}
.product-name {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 0.3s;
}
.product-name:hover {
    color: #004666;
}
.product-price{
    color: #004666;
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.menu-item-buy{
    width: 100%;
}
.add-to-cart {
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 7px;
    background-color: #004666;
    color: #FFFFFF;
    font-family: roboto, sans-serif;
    font-weight: 400;
}



/* popup sản phẩm chi tiết (item) */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 63, 63, 0.5);
    z-index: 11;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Hiển thị popup */
.modal-overlay.active {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
    line-height: 1;
}

.close-btn:hover {
    color: #333;
}
.popup-inner-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popup-inner-content h2 {
    font-family: Oswald, sans-serif;
    color: #004666;
    margin-bottom: 15px;
}
.add-to-cart-popup {
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #004666;
    font-size: 1.6rem;
    font-family: roboto, sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
#popup-product-price {
    color: #004666;
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}
.quantity-control {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.quantity-button {
    display: flex;
    width: 20%;
    text-align: right;
    border: 1px solid #004666;
}
.quantity-button input {
    width: 100%;
    text-align: center;
    border-width: 0;
}
.qty-btn {
    padding: 5px 12px;
    background-color: #004666;
    color: #FFFFFF;
    font-weight: 200;
    border-width: 0;
    font-family: roboto, sans-serif;
    cursor: pointer;
}
/**** end main ****/

/**** footer ****/
footer {
    width: 100%;
    background-color: #004666;
}
.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* footer-left */
.footer-left, .footer-middle, .footer-right {
    width: 400px;
}
.footer-left {
    width: 400px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.footer-logo {
    width: 33%;
    height: auto;
    display: flex;
    background-color: #FFFFFF;
    z-index: 1;
    border-radius: 100px;
}
.hotline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.hotline-text {
    color: #FFFFFF;
}
.hotline-number {
    color: #FFC107;
    font-size: 4rem;
}
/* end footer-left */

/* footer-middle */
.footer-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.office-list p{
    color: #FFFFFF;
    font-size: 2rem;
}
.office-content, .contact-info-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.office-info, .office-name p {
    color: #afaeae;
}
/* end footer-middle */

/* footer-right */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.about-us-text p{
    color: #FFFFFF;
    font-size: 2rem;
}
.about-us-link {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about-us-link a {
    width: 10%;
}
/* end footer-right */
/**** end footer ****/
