@media screen and (max-width: 1399.98px) {

/**** Header ****/
/**** Product-item ****/

/* item */
.items {
    width: 372px;
    height: 26px;
}
.items ul{
    display: flex;
    align-items: center;
    gap: 34px;
}
/* end item */

/* logo */
.logo a{
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 53px;
    height: 55px;
}
/* end logo */



/*nav-right */
.nav-right{
    width: 372px;
    height: 27px;
    display: flex;
    align-items: center;
    gap: 34px;
}
/* end nav-right */


/**** main ****/
.clients-info {
    gap: 10px;
}
.clients-info p:nth-child(1) {
    width: 85%;
    height: auto;
    font-size: 1.5rem;
    line-height: 20px;
    text-align: left;
    margin: 10px 0px 20px 0;
    opacity: 1;
    flex: 0 0 500%;
}
/****end main ****/

/**** footer ****/
.footer {
    width: 100%;
    margin-bottom: 60px;
}
.footer-inner {
    width: 80%;
    height: 244px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
/* dowload-link  */
.dowload-link {
    display: flex;
    flex-direction: column;
    gap: 76px;
    width: 261.66px;
    height: 230px;
}
.footer-logo {
    display: flex;
    gap: 5px;
    align-items: center;
}
.dowload-store {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.dowload-link-description {
    width: 211px;
    height: 55px;
}
.store-link {
    display: flex;
    justify-content: space-between;
}
/* end dowload-link */

/* usefull-link */
.usefull-link {
    width: 108px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.usefull-link-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.usefull-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/*end  usefull-link */

/* contact-info */
.contact-info {
    width: 197px;
    height: 186px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact-info-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.contact-info-description .address-info{
    width: 197px;
    height: 52px;
}
.contact-info-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.email-example {
    color: #FB8F2C;
    opacity: 1;

}
/*end contact-info */

/*follow-us */
.follow-us {
    width: 89px;
    height: 202px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.follow-us-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.follow-us-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.follow-us-description p{
    border-bottom: 1px solid #FFFFFFCC;
    
}
.facebook{
    width: 78px;
    height: 26px;
    
}
.insta{
    width: 78px;
    height: 26px;
    
}
.linkedin{
    width: 64px;
    height: 26px;
    
}
.twitter{
    width: 52px;
    height: 26px;
    
}
/*end  follow-us*/

/*legal */
.legal {
    width: 205px;
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.legal-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.legal-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
/*end  legal */


/**** end footer ****/

}


@media screen and (max-width: 1199.98px) {
.menu, .overlay, .out {
        display: none;
    }
.nav-right {
    width: 372px;
}

/**** main ****/
.customer1-img {
    width: 20%;
    height: auto;
    position: absolute;
    left: 39%;
    top: -20%;
    z-index: 1;
}
.customer2-img {
    width: 20%;
    height: auto;
    position: absolute;
    right: 39%;
    top: -20%;
    z-index: 1;
}
.clients-info {
    gap: 10px;
}
.clients-info p:nth-child(1) {
    width: 85%;
    height: auto;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: left;
    margin: 10px 0px 20px 0;
    opacity: 1;
    flex: 0 0 500%;
}
/**** end main ****/

/**** footer ****/
.footer {
    width: 100%;
    margin-bottom: 60px;
}
.footer-inner {
    width: 80%;
    height: 244px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
/* dowload-link  */
.dowload-link {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 220px;
    height: 230px;
}
.footer-logo {
    display: flex;
    gap: 5px;
    align-items: center;
}
.dowload-store {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dowload-link-description p{
    font-size: 1.5rem;
}
.dowload-link-description {
    width: 211px;
    height: 55px;
}
.store-link {
    display: flex;
    justify-content: space-between;
}

.appstore-link img, .chplay-link img{
    width: 100%;
}
/* end dowload-link */

/* usefull-link */
.usefull-link {
    width: 108px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.usefull-link-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.usefull-description p{
    font-size: 1.2rem;
}
.usefull-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*end  usefull-link */

/* contact-info */
.contact-info {
    width: 197px;
    height: 186px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact-info-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}

.contact-info-description .address-info{
    width: 197px;
    height: 52px;
    font-size: 1.2rem;
}
.contact-info-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-info-description p{
    font-size: 1.2rem;
}
.email-example {
    color: #FB8F2C;
    opacity: 1;
    font-size: 1.2rem;

}
/*end contact-info */

/*follow-us */
.follow-us {
    width: 89px;
    height: 202px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.follow-us-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.follow-us-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.follow-us-description p{
    border-bottom: 1px solid #FFFFFFCC;
    
}
.facebook{
    width: 78px;
    height: 26px;
    font-size: 1.2rem;
}
.insta{
    width: 78px;
    height: 26px;
    font-size: 1.2rem;
    
}
.linkedin{
    width: 64px;
    height: 26px;
    font-size: 1.2rem;
    
}
.twitter{
    width: 52px;
    height: 26px;
    font-size: 1.2rem;
    
}
/*end  follow-us*/

/*legal */
.legal {
    width: 170px;
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.legal-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.legal-description p{
    font-size: 1.2rem;
    
}
.legal-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
/*end  legal */


/**** end footer ****/

}


@media screen and (max-width: 991.98px) {
/* dang bi loi tran vien ben phai, phai xu ly tam thoi: */
    html, body {
    max-width: 100%;

}
/* end */

.items {
    width: 110px;
}
.nav-right {
    width: 110px;
}
.nav-right a{
    font-size: 1.3rem;
}
.nav-right p {
    display: none;
}
/* thanh nav */
.menu, .overlay {
    display: block;
}
.hambuger label img, .hambuger{
    background-color: #111114;
    border-width: 0;
}
.items ul {
    display: none;
}

.menu-inner {
    width: 30vw;
    height: 200vh;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 100;
}

#toggle-menu:checked ~ .menu-inner {
    left: 0;
}

/* overlay */
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
}

#toggle-menu:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}

/* menu content */
.menu-body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20%;
}

.menu-body ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

/* button */
.menu-btn {
    background: transparent;
    border: 1px solid #000;
    padding: 8px 16px;
    cursor: pointer;
}

/* end thanh nav */

/**** main ****/
/* .product-detail-img {
    flex: 0 0 40%;
}
.product-detail-info {
    flex: 0 0 60%;
} */
.hero-title {
    font-size: 4rem;
    line-height: 50px;
}
.hero-description p{
    font-size: 1.2rem;
    line-height: 25px;
}
.rectangle, .rectangle img:nth-child(1) {
    height: 300px;
}
.customer1-img, .customer2-img {
    top: -20%;
    left: 30%;
    width: 40%;
}
.signupform-inner {
    gap: 0;
}
.signupform-button {
    width: 40%;
    padding: 10px 0;
}
/****end main ****/

/**** footer ****/
.footer {
    width: 100%;
    margin-bottom: 60px;
}
.footer-inner {
    width: 80%;
    height: 244px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}
/* dowload-link  */
.footer-logo-img img{
    width: 49px;
    height: 51px;
}
.wowwraps-img img{
    width: 130px;
    height: 24px;
}
.dowload-link {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 190px;
    height: 230px;
}
.footer-logo {
    display: flex;
    gap: 5px;
    align-items: center;
}
.dowload-store {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dowload-link-description p{
    font-size: 1.3rem;
}
.dowload-link-description {
    width: 190px;
    height: 55px;
}
.store-link {
    display: flex;
    justify-content: space-between;
}

.appstore-link img, .chplay-link img{
    width: 100%;
}
/* end dowload-link */

/* usefull-link */
.usefull-link {
    width: 108px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.usefull-link-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.usefull-description p{
    font-size: 1.2rem;
}
.usefull-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*end  usefull-link */

/* contact-info */
.contact-info {
    width: 197px;
    height: 186px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact-info-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}

.contact-info-description .address-info{
    width: 197px;
    height: 52px;
    font-size: 1.2rem;
}
.contact-info-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-info-description p{
    font-size: 1.2rem;
}
.email-example {
    color: #FB8F2C;
    opacity: 1;
    font-size: 1.2rem;

}
/*end contact-info */

/*follow-us */
.follow-us {
    width: 89px;
    height: 202px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.follow-us-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.follow-us-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}
.follow-us-description p{
    border-bottom: 1px solid #FFFFFFCC;
    
}
.facebook{
    width: 78px;
    height: 26px;
    font-size: 1.2rem;
}
.insta{
    width: 78px;
    height: 26px;
    font-size: 1.2rem;
    
}
.linkedin{
    width: 64px;
    height: 26px;
    font-size: 1.2rem;
    
}
.twitter{
    width: 52px;
    height: 26px;
    font-size: 1.2rem;
    
}
/*end  follow-us*/

/*legal */
.legal {
    width: 170px;
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.legal-header p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.legal-description p{
    font-size: 1.2rem;
    
}
.legal-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
/*end  legal */


/**** end footer ****/

}


@media screen and (max-width: 767.98px) {
/* dang bi loi tran vien ben phai, phai xu ly tam thoi: */
    html, body {
    width: 100%;
}
/* end */
h4 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 40px;
}
.items {
    width: 110px;
}
.nav-right {
    width: 110px;
}
.nav-right a{
    font-size: 1.3rem;
}
.nav-right p {
    display: none;
}
/* thanh nav */
.menu, .overlay {
    display: block;
}
.hambuger label img, .hambuger{
    background-color: #111114;
    border-width: 0;
}
.items ul {
    display: none;
}

.menu-inner {
    width: 30vw;
    height: 200vh;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 100;
}

#toggle-menu:checked ~ .menu-inner {
    left: 0;
}

/* overlay */
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
}

#toggle-menu:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}

/* menu content */
.menu-body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20%;
}

.menu-body ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

/* button */
.menu-btn {
    background: transparent;
    border: 1px solid #000;
    padding: 8px 16px;
    cursor: pointer;
}
/* end thanh nav */

/**** Header ****/
/**** Product-item ****/
.product-item{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo a{
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 53px;
    height: 55px;
}
/* end logo */



/*nav-right */
.nav-right{
    width: 110px;
    height: 27px;
    display: flex;
    align-items: center;
    gap: 34px;
}
/* end nav-right */
/**** end header ****/

/**** main ****/
.star , .arrow-left-right{
    display: none;
}
.hero-section-inner, .stats-inner, .chef-inner, .clients-inner, .signupform-inner {
    width: 90%;
}
.hero-section-inner {
    flex-direction: column;
}
.play-button {
    left: 42%;
}
.stats-inner {
    flex-direction: column;
    height: 658px;
}
.chef-img {
    flex-direction: column;
}




.radio {
    display: none;
}
.select-item {
    display: block;
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.dots {
    display: block;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 50px;
    transition: padding 0.3s;
}

/* dots chuyen padding */
/* clients */
#left-clients:checked ~ .select-item label[for="left-clients"] > .dots {
    padding: 10px 20px;
}
#right-clients:checked ~ .select-item label[for="right-clients"] > .dots {
    padding: 10px 20px;
}
/* mac dinh la 1 da duoc chon */
.left-clients {
    display: block;
}
.right-clients {
    display: none;
}

/* clients-slide*/
#left-clients:checked ~ .clients-comments .left-clients{
    display: block;
}
#left-clients:checked ~ .clients-comments .right-clients {
    display: none;
}

#right-clients:checked ~ .clients-comments .right-clients {
    display: block;
}
#right-clients:checked ~ .clients-comments .left-clients {
    display: none;
}

.customer1-img {
    width: 100px;
    height: 100px;
    left: 42%;
}
.customer2-img {
    width: 100px;
    height: 100px;
    left: 42%;
}
/* .clients-info {
    gap: 10px;
} */
.clients-info p:nth-child(1) {
    width: 90%;
    font-size: 1.6rem;
    line-height: 23px;
}

.signupform-inner {
    flex-direction: column;
    height: 356px;
    justify-content: center;
    gap: 50px;
}
.signupform-email {
    flex-direction: column;
}
.signupform-button, .email-form {
    width: 100%;
}
/**** end main ****/
/**** footer ****/
.footer {
    width: 100%;
    margin-bottom: 60px;
}
.footer-inner {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.dowload-link, .usefull-link, .follow-us, .contact-info, .legal {
    width: 100%;
    height: auto;
}
/* dowload-link  */
.footer-logo-img img{
    width: 46px;
    height: 48px;
}
.wowwraps-img img{
    width: 145px;
    height: 29px;
}
.dowload-link {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    height: auto;
    position: relative;
}
.footer-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    order: 1;
    padding-bottom: 20px;
}
.dowload-store {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 680px;
    z-index: 2;
}
.dowload-link-description p{
    font-size: 1.3rem;
}
.dowload-link-description {
    width: 190px;
    height: 55px;
}
.store-link {
    display: flex;
    justify-content: space-between;
}

.appstore-link img, .chplay-link img{
    width: 100%;
}
/* end dowload-link */

.footer-flex{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* usefull-link */
.usefull-link {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    order: 2;
}
.usefull-link-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.usefull-description p{
    font-size: 1.6rem;
    line-height: 26px;
}
.usefull-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*end  usefull-link */

/* contact-info */
.contact-info {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    order: 3;
}
.contact-info-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}

.contact-info-description .address-info{
    width: 100%;
    height: auto;
    font-size: 1.6rem;
}
.contact-info-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-info-description p{
    font-size: 1.6rem;
    line-height: 26px;
}
.email-example {
    color: #FB8F2C;
    opacity: 1;
    font-size: 1.6rem;
    line-height: 26px;

}
/*end contact-info */

/*follow-us */
.follow-us {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    order: 4;
}
.follow-us-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.follow-us-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.6rem;
    line-height: 26px;
}
.follow-us-description p{
    border-bottom: 1px solid #FFFFFFCC;
    
}
.facebook{
    width: 78px;
    height: auto;
    font-size: 1.6rem;
    line-height: 26px;
}
.insta{
    width: 77px;
    height: auto;
    font-size: 1.6rem;
    line-height: 26px;
    
}
.linkedin{
    width: 64px;
    height: auto;
    font-size: 1.6rem;
    line-height: 26px;
    
}
.twitter{
    width: 52px;
    height: auto;
    font-size: 1.6rem;
    line-height: 26px;
    
}
/*end  follow-us*/

/*legal */
.legal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 5;
}
.legal-header p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 1;
}
.legal-description p{
    font-size: 1.6rem;
    line-height: 26px;
    
}
.legal-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
/*end  legal */


/**** end footer ****/

}


@media screen and (max-width: 575.98px) {
.customer1-img {
    width: 100px;
    height: 100px;
    left: 39%;
}
.customer2-img {
    width: 100px;
    height: 100px;
    left: 39%;
}
}